
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Montserrat", 'Helvetica Neue', sans-serif;
}

/* header */
h1{
  font-family: "Nerko One", serif;
  color: #ff9614;
  text-shadow: 1px 1px #828282;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  padding: 20px 0;
}

/* main */
main{
  padding: 25px 25px 0;
  background-color: #f6f5f3;
}

h4{
  color: #999999;
  text-transform: uppercase;
  font-weight: lighter;
  word-spacing: 10px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h3{
  color: #4e3969;
  font-size: 1.5em;
  margin-bottom: 30px;
}
h3 .visibility{
  display: none;
}





/* modalità tablet */

@media screen and (min-width: 768px) {

  h1{
    text-align: left;
    padding-left: 25px;
  }
  h3{
    font-size: 1.8em;
  }
  h3 .visibility{
    display: inline;
  }
  main {
    padding: 60px 60px 0;
  }
}

/* modalità desktop */

@media screen and (min-width: 992px) {
  h3{
    font-size: 2em;
  }
  main {
    padding: 60px 10% 0;
  }
}